<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wear.order.mapper.OrderMapper">
  <select id="selectList" resultType="com.wear.order.vo.OrderVO" parameterType="com.wear.order.vo.OrderVO">
    select p.product_name, p.product_price, pi.product_color, pi.product_size, b.product_cnt
	from product_info pi left join product p on (pi.product_no = p.product_no)
                         left join basket b on (pi.product_info_no = b.product_info_no)
	where b.user_id = #{userId} 
  </select>
</mapper>