<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wear.basket.mapper.BasketMapper">
  <select id = "basketselectList" resultType = "com.wear.basket.vo.BasketVO">
  	select *
  	from basket
  	where user_id = #{userId}
  </select>
  
  <update id = "updateBasket" parameterType = "int" >
  	update basket
  	set product_cnt = product_cnt + #{productCnt}
  	where basket_no = #{basketNo}
  </update>
  
  <delete id = "deleteBasket" parameterType = "int">
  	delete from basket
  	where basket_no = #{basketNo}
  </delete>
  
  <insert id = "insertBasket" parameterType = "basket">
  	insert into basket(basket_no, product_info_no, user_id, product_cnt)
	values(#{basketNo}, #{productInfoNo}, #{userId}, #{productCnt})
  </insert>
  
  <select id="basketCnt" resultType="int">
  	select count(*)
  	from basket
  </select>
  
  <select id="wishlistCnt" resultType="int">
  	select count(*)
  	from wishlist
  </select>
  
  <select id = "orderbasket" parameterType = "com.wear.basket.vo.BasketVO">
  	select *
  	from basket
  </select>
  
  <select id = "sBasket" resultType = "com.wear.basket.vo.BasVO" parameterType = "int">
  	select p.product_name, pi.product_color, pi.product_size, p.product_price, pi.product_info_no
	from product p left join product_info pi on (p.product_no = pi.product_no)
	where p.product_no = #{productInfoNo}
  </select>
  
</mapper>