<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wear.basket.mapper.CerBoardMapper">
  	<select id = "cerboardList" resultType = "board">
  		select * from cancel_echange_return
  		order by cancel_echange_return_no
  	</select>
  	
  	<select id = "cerboardListPaging" parameterType = "com.wear.basket.vo.SearchVO">
  		select *
		from cancel_echange_return
  	</select>
  </mapper>