<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="SLF4J" />

	</settings>
	<typeAliases>
		<!-- 정환 -->

		<!-- 유진 -->
		<typeAlias alias="product"
			type="com.wear.review.vo.ProductVO" />
		<typeAlias alias="review" type="com.wear.review.vo.ReviewVO" />
		<!-- 선우 -->
		<typeAlias alias="basket" type="com.wear.basket.vo.BasketVO" />
		<typeAlias alias="wishlist"
			type="com.wear.wishlist.vo.WishListVO" />
		<typeAlias alias="cerboardList"
			type="com.wear.basket.vo.CerBoardVO" />
		<!-- 동규 -->
		<typeAlias alias="member" type="com.wear.member.vo.MemberVo" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="jsp" />
				<property name="password" value="jsp" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 정환 -->
		<mapper resource="com/wear/board/mapper/WearBoardMapper.xml" />
		<mapper resource="com/wear/board/mapper/QnaBoardMapper.xml" />
		<mapper resource="com/wear/order/mapper/OrderMapper.xml"/>
		<!-- 유진 -->
		<mapper resource="com/wear/review/mapper/ProductMapper.xml" />
		<mapper resource="com/wear/review/mapper/ReviewMapper.xml" />
		<!-- 선우 -->
		<mapper resource="com/wear/basket/mapper/BasketMapper.xml" />
		<mapper resource="com/wear/wishlist/mapper/WishListMapper.xml" />
		<mapper resource="com/wear/basket/mapper/CerBoardMapper.xml" />
		<!-- 동규 -->
		<mapper resource="com/wear/member/mapper/Member.xml" />
	</mappers>
</configuration>