<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wear.mapper.WearBoardMapper">
	<select id="wearList" resultType="com.wear.vo.CategoryVO">
	
	</select>
	<select id="cateList" resultType="map">
		select case when nvl(category_no_ref, 0) = 0 then 'main'
					else ''
		end as "cate_col1",
		case when nvl(category_no_ref, 0) = 0 then category_name
					else ''
		end as "cate_col2",
		case when nvl(category_no_ref, 0) = 0 then ''
					else 'sub'
		end as "cate_col3",
		case when nvl(category_no_ref, 0) = 0 then ''
					else category_name
		end as "cate_col4",
		category_no 
		from category c
		start with category_no_ref is null
		connect by category_no_ref = prior category_no
		order siblings by category_no
	</select>
</mapper>