<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wear.review.mapper.ProductMapper">

	<select id="productList" parameterType="int" resultType="product">
		select * from product
		where product_no = #{productNo}
	</select>

	<select id="productOption" resultType="com.wear.review.vo.ProductInfoVO" parameterType="com.wear.review.vo.ProductInfoVO">
		select product_info_no from product_info 
		where product_size = #{productSize} 
		and product_color = #{productColor}
		and product_no = #{productNo}
	</select>
	
	<insert id="insertBasket" parameterType="com.wear.review.vo.BasketVO">
	  insert into basket(basket_no, user_id, product_info_no, product_cnt)
      values(basket_seq.nextval, #{userId}, #{productInfoNo}, #{productCnt})
	</insert>
	
	<insert id="insertWish" parameterType="com.wear.wishlist.vo.WishVO">
		insert into wishlist(wishlist_no, product_no,user_id)
		values(WISHLIST_SEQ.nextval, #{productNo}, #{userId})
	</insert>
	

	<select id="memberList"  resultType="com.wear.member.vo.MemberVo">
		select * from members 
		where user_resp = 'user'
		order by user_id
	</select>
	
	<delete id="deleteMember" parameterType="com.wear.member.vo.MemberVo">
		delete from members 
		where user_id = #{userId}
	</delete>

	<select id="getBasket" resultType="int">
		select count(*) 
		from basket 
		where product_info_no = #{productInfoNo}
		and user_id = #{userId}
	</select>
</mapper>




