<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wear.review.mapper.ReviewMapper">

	<select id="reviewList" resultType="review">
		select * from product_review
		where product_no = ${productNo}
		order by view_no
	</select>

	<select id="reviewListPaging" resultType="review"
		parameterType="com.wear.review.vo.SearchVO">
		select r.*
		from (select rownum rn,a.*
		from(select *
		from PRODUCT_REVIEW p
		order by p.view_no desc)a
		    <![CDATA[
		    where rownum <=(#{page}*5))r
	    ]]>
		where r.rn>(#{page}-1)*5
	</select>

	<select id="getReviewTotalCnt" resultType="int"
		parameterType="int">
		select count(*)
		from product_review
		where product_no =#{productNo}
	</select>

	<select id="totalImg" resultType="review" parameterType="int">
		select review_img
		from
		product_review
		where product_no = #{productNo}

	</select>

	<select id="getCnt" resultType="int" parameterType="review">
		select
		count(*)
		from product_review
		where product_no = #{productNo}
	</select>

	<insert id="insertReview" parameterType="review">
		insert into
		product_review (view_no, user_id, product_no,view_score,content,review_img)
		values
		(view_no_seq.nextval, #{userId}, #{productNo},	#{viewScore}, #{content}, #{reviewImg})
	</insert>










</mapper>